.jumbotron {
  margin-bottom: 0;
}

.application-content > .container {
  margin-top: 1rem;
}

.exploded-row > .col {
  padding-left: 0;
}

.items-question-icon {
  float: right;
}

.table-title {
  display: inline-block;
}
