.jumbotron {
  margin-bottom: 0;
}

.application-content > .container {
  margin-top: 1rem;
}

.hidden {
  visibility: hidden;
}

.editable-value {
  cursor: pointer;
}

.table-title {
  padding: 1em;
  padding-left: 0;
  color: #aaa;
  font-weight: 700;
  font-size: smaller;
  text-transform: uppercase;
}
